@keyframes fall_down
{
    from
    {
        opacity: 0;
        transform: translateY(-20px);
    }
    to 
    {
        opacity: 1;
        transform: translateY(0);
    }
    60%, 100%
    {
        transform: translateY(0);
    }
}